


.inform-box{
    display: none;
    position:fixed;
    width:120px;
    height:30px;
    margin-top:200px;
    margin-left:650px;
    border-radius: 20px;
    background-color: black;
    z-index: 1000;
}

.inform-txt{
    color:white;
    font-family: "微软雅黑";
    text-align: center;
    line-height: 30px;
}